.profile{
    text-align: center;
}
.logo-img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}
.search-input{
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 50px;

}

.btn{
display: flex;
justify-content: center;
}
.button1,
.button2{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    background-color: ;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}
.follow_button{
    padding-top:7px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #cfd9de;
    color: #0f1419;
    font-weight: bold;
    
}


.card{
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    background-color: lightgray;
    width: 400px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box{
    border: 1px solid #0f1419;
    text-align: center;
    padding: 10px;
}

.card2{
    width: 400px;
    border: 1px dotted blue;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 7px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 5px;

}
.avater{
    width: 150px;
}
.space{
    background-image: url("univers.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30px 40px 300px 30px;
    border: none;
    font-family: "Black Ops One", system-ui;
    
}
.apply{
    padding: 6px 12px;
    background-color: #f1f0f5;
    font-family: inherit;
    border: none;
}
.ad{
    margin: 50px;
    padding: 10px 18px 25px 10px;
    border: 5px solid #a3bc71;
    text-align: center;
    width: 300px;
    background-color: #35654d;
    color: whitesmoke;
    font-family: Rammetto One,cursive;
}
.cta{
    border: 2px solid #a3bc71;
    padding: 2px 4px;
    background: #8f4737;
}
#spn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#cube_walpaper{
    height: 150px;
}
.galaxy{
    background-image: url("galaxy.gif");
    background-size: contain;   /* shows full GIF, no cropping */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    color: #90a9b7;
    text-align: center;
    padding: 30px;
    font-family: "Black Ops One", system-ui;
}
.btn4{
    padding: 6px 12px;
    background: #90a9b7;
    font-family: inherit;
    border: none;
}
.text_shadow {
    letter-spacing: 4px;
    background: #b7111b;
    color: #fafbf4;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 10px;   
}
.NETWORK_X {              
    font-size: 80px;
    text-shadow: 5px -5px 5px black; /* Right Down Blur Color */
}
.text_shadow2 {
    letter-spacing: 4px;
    background: whitesmoke;
    color: #fafbf4;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    
}
.NETWORK_Y {              
    font-size: 80px;
    text-shadow: 0px 0px 20px black; /* Right Down Blur Color */
}
.birhtaday_gift_site{
    text-align: center;
    font-family: "Happy Monkey", cursive;
    background: #a2d2ff;
    color: #000F08;
    display: flex;
    flex-direction: column;
    align-items: center; /*column*/
    padding: 5px 10px 30px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #a2d2ff, #f1faee, #a2d2ff); /* Gradient background */
}
.img_of_abdullah{
    width: 150px;
    border-radius: 50%;
    border: 2px #3E2F5B solid;
}
.h1,h2,h4{
    text-shadow: 0px 0px 5px white;
}
.h2,h4{
    background: #35654d;
    padding: 3px;
    
}
.h2{
    margin-bottom: 0;
}
.gift_img{
    background-image: url("giftcover.jpg");
    background-size: cover;
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#gift_img1:hover{
    background-image: url("Excited Happy Birthday GIF.gif");
} 
#gift_img2:hover{
    background-image: url("Happy Birthday GIF.gif");
}
#gift_img3:hover{
    background-image: url("Good Boy GIF by Universal Pictures Home Entertainment.gif");
}
.gift_title{
    font-size: 30px;
    font-weight: bold;
    color: #3E2F5B;
}
.gift_text{
    font-size: 20px;
    color: #3E2F5B;
    margin-bottom: 10px;
    }

.Home,
.About,
.Contact{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    background: #e5383b;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 0px 5px black;
    
}
.nav1{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.Home:hover,
.About:hover,
.Contact:hover{
    background: #ba181b;
    color: whitesmoke;
    box-shadow: 0px 0px 10px black;
}
.hover_eye_link{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
}
.hover_eye{
    width: 100%;
    height: 250px;
    background: #e5383b;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.hover_eye:hover{
    background-image: url("eye.gif");
    background-size: cover;      /* Better than contain */
    background-position: center;
    background-repeat: no-repeat;
}


